{% extends 'base.html.twig' %}

{% block title %}Pied Piper Web Solutions{% endblock %}
{% block stylesheets %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('styles/main/header.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/main/main.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/main/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/main/services.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/main/our-projects.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/main/process.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/main/contact-form.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/main/additional-info.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/main/web-apps.css') }}">
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />

{% endblock %}
{% block javascripts %}
    <script src="https://kit.fontawesome.com/8a752f54a0.js" crossorigin="anonymous"></script>
{% endblock %}

{% block after_body_javascript %}
    <script type="module">
        import Swiper from 'https://unpkg.com/swiper@8/swiper-bundle.esm.browser.min.js'

        const swiper = new Swiper('.projects-swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: false,
            slidesPerView: 3,
            freeMode: false,
            spaceBetween: 40,
            grabCursor: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                // when window width is >= 320px
                1360: {
                    slidesPerView: 3,
                    spaceBetween: 0,
                },
                // when window width is >= 480px
                930: {
                    slidesPerView: 2,
                },
                // when window width is >= 640px
                0: {
                    slidesPerView: 1,
                }
            }
        });

        const technologiesSwiper = new Swiper('.technologies-swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: false,
            spaceBetween: 100,
            grabCursor: true,

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });
    </script>
    <script src="{{ asset('scripts/header.js') }}"></script>
    <script src="{{ asset('scripts/process.js') }}"></script>
    <script src="{{ asset('scripts/form.js') }}"></script>

{% endblock %}


{% block body %}
    <header>
        <nav class="navbar" id="navbar">
            <div class="navbar__close" id="close-menu">✖</div>
            <div id="cursor"></div>
            <div class="navbar__icon">
                <a href="{{ path('main_page') }}"><img src="{{ asset('images/logo.png') }}" id="navbar-logo"/></a>
            </div>
            <div class="navbar__menu" id="navbar__menu">
                <div class="navbar__menu__item">
                    <div class="navbar__menu__item__circle"></div>
                    <a href="javascript:void(0);" onclick="scrollToElementByClass('services')">Služby</a>
                </div>
                <div class="navbar__menu__item active">
                    <div class="navbar__menu__item__circle active"></div>
                    <a href="javascript:void(0);" onclick="scrollToElementByClass('our-projects')">Naše projekty</a>
                </div>
                <div class="navbar__menu__item">
                    <div class="navbar__menu__item__circle"></div>
                    <a href="javascript:void(0);" onclick="scrollToElementByClass('additional-info')">Služby navíc</a>
                </div>
                <div class="navbar__menu__item">
                    <div class="navbar__menu__item__circle"></div>
                    <a href="javascript:void(0);" onclick="scrollToElementByClass('web-apps')">Webové aplikace</a>
                </div>
            </div>
            <div class="navbar__contact">
                <div class="navbar__menu__item">
                    <div class="navbar__menu__item__circle"></div>
                    <a href="javascript:void(0);" onclick="scrollToElementByClass('contact-form')">Kontakt</a>
                </div>
            </div>
            <div class="navbar__bar-lines" id="open-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </nav>
        <section class="header-info">
            <article class="header-info__devices">
                <img src="{{ asset('waves/device-background.svg') }}" id="wave"/>
                <img src="{{ asset('waves/DEVICES.png') }}" id="devices">
            </article>
            <article class="header-info__text">
                <img src="{{ asset('waves/circle.svg') }}" class="header-info__circle"/>
                <img src="{{ asset('waves/circle.svg') }}" class="header-info__circle"/>
                <img src="{{ asset('waves/circle.svg') }}" class="header-info__circle"/>
                <div>
                    <img class="logo" src="{{ asset('images/logo.png') }}"/>
                    <div >
                        <h2>Moderní weby na míru</h2>
                        <p>
                            V dnešní době je obzvláště <b>důležité prezentovat se online</b>, je to jeden z hlavních kroků k
                            <b>maximalizaci zisků</b> a <b>úspěšnému rozvoji podnikání</b>. Provedeme vás cestou k <b>dokonalému
                                webu</b> který,
                            bude přesně pasovat na vaše podnikání, přes design a vývoj až po samotný obsah. Váš web
                            vytvoříme pomocí nejmodernějších technologií a vyšvihneme ho na přední příčky vyhledávačů.
                        </p>
                        <div class="header-info__text__buttons">
                            <button onclick="scrollToElementByClass('process')">Chci web!!</button>
                        </div>
                    </div>
                    <img src="{{ asset('images/devices-phone.png') }}" class="mobile-devices">
                </div>
            </article>
        </section>
        <div class="header-info__ending">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                 preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                      opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                      opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                      class="shape-fill"></path>
            </svg>
        </div>
    </header>
    <main>
        <section class="services">
            <div class="services__header">
                <h1>Co vám můžeme nabídnout?</h1>
                <div class="services__header-line"></div>
            </div>
            <div class="services__cards">
                <article class="services__cards__card">
                    <div class="services__cards__card__header">
                        <i class="fa-solid fa-palette fa-3x"></i>
                        <h2>Design na míru</h2>
                    </div>
                    <div class="services__cards__card__text">
                        Weby tvoříme tak, aby jejich design perfektně pasoval na váš produkt či podnikání a splňoval moderní trendy. Můžete za námi také přijít s návrhem vlastním
                    </div>
                </article>

                <article class="services__cards__card">
                    <div class="services__cards__card__header">
                        <i class="fa-solid fa-user-check fa-3x"></i>
                        <h2>Lidský přístup</h2>
                    </div>
                    <div class="services__cards__card__text">
                        Nejsme velký korporát. Komunikace a domluva je tedy velmi lidská a tvorba webu tak pro vás
                        nebude
                        stresující zálěžitostí.
                    </div>
                </article>

                <article class="services__cards__card">
                    <div class="services__cards__card__header">
                        <i class="fa-solid fa-arrow-up-right-dots fa-3x"></i>
                        <h2>Analýza trhu</h2>
                    </div>
                    <div class="services__cards__card__text">
                        Důkladně prostudujeme a zanalyzujeme webové stránky konkurence, abychom zajistili originalitu a
                        úspěch vašeho nového webu.
                    </div>
                </article>

                <article class="services__cards__card">
                    <div class="services__cards__card__header">
                        <i class="fa-solid fa-scale-balanced fa-3x"></i>
                        <h2>Vyvážená cena</h2>
                    </div>
                    <div class="services__cards__card__text">
                        Ceny webových stránek a aplikací jsou vyvážené a vypočtené tak, aby reálně odpovídaly rozsahu
                        vašich požadavků.
                    </div>
                </article>

                <article class="services__cards__card">
                    <div class="services__cards__card__header">
                        <i class="fa-solid fa-fingerprint fa-3x"></i>
                        <h2>Moderní technologie</h2>
                    </div>
                    <div class="services__cards__card__text">
                        Při vývoji vašeho webu používáme nejmodernější technologie, díky kterým bude váš web aktuální
                        řadu let.
                    </div>
                </article>

                <article class="services__cards__card">
                    <div class="services__cards__card__header">
                        <i class="fa-solid fa-magnifying-glass-chart fa-3x"></i>
                        <h2>SEO</h2>
                    </div>
                    <div class="services__cards__card__text">
                        Uplatňujeme moderní SEO metody s cílem dostat váš web na přední pozice ve výsledcích
                        vyhledávání.
                    </div>
                </article>
            </div>
        </section>
        <section class="process">
            <h1>Jak to u nás chodí?</h1>
            <div class="process__header-line"></div>
            <div class="process__time-line">
                <div class="process__time-line__icon active" id="contact-us">
                    <i class="fa-solid fa-phone fa-3x"></i>
                </div>
                <div class="process__time-line__arrow">
                    <img src="{{ asset('images/arrow.png') }}"/>
                </div>
                <div class="process__time-line__icon" id="chatting">
                    <i class="fa-solid fa-comments fa-3x"></i>
                </div>
                <div class="process__time-line__arrow">
                    <img src="{{ asset('images/arrow.png') }}"/>
                </div>
                <div class="process__time-line__icon" id="design">
                    <i class="fa-solid fa-pen-ruler fa-3x"></i>
                </div>
                <div class="process__time-line__arrow">
                    <img src="{{ asset('images/arrow.png') }}"/>
                </div>
                <div class="process__time-line__icon" id="coding">
                    <i class="fa-solid fa-laptop-code fa-3x"></i>
                </div>
                <div class="process__time-line__arrow">
                    <img src="{{ asset('images/arrow.png') }}"/>
                </div>
                <div class="process__time-line__icon" id="done">
                    <i class="fa-solid fa-circle-check fa-3x"></i>
                </div>
            </div>
            <div class="process__description">
                <div class="process__description__left">
                    <div class="process__description__left__header">
                        <h2 id="left-header">#1 &nbsp;Kontaktujete nás</h2>
                        <div class="process__description__left__header-line" id="left-header-line"></div>
                    </div>
                    <p id="left-text">
                        Gratulujeme! rozhodli jste se pro první krok k úspěšnému podnikání. Váš první krok začíná zde na
                        webu, kontaktujte nás pomocí telefonního čísla, emailu nebo formuláře. My se vám obratem ozveme
                        a domluvíme si s vámi schůzku, kde se vás budeme ptát na vaše cíle, konkurenci a plány.
                    </p>
                </div>
                <div class="process__description__right">
                    <div class="process__description__contact">
                        <div class="process__description__contact__line">
                            <div class="line-icon">
                                <i class="fa-solid fa-mobile-screen fa-2x"></i>
                            </div>
                            <div class="line-text">
                                <p>+420 606 703 101</p>
                            </div>
                        </div>
                        <div class="process__description__contact__line">
                            <div class="line-icon">
                                <i class="fa-solid fa-at fa-2x"></i>
                            </div>
                            <div class="line-text">
                                <p>info@ppwebs.cz</p>
                            </div>
                        </div>
                        <div class="process__description__contact__line">
                            <div class="line-icon">
                                <i class="fa-brands fa-instagram fa-2x" style="font-weight: 900;"></i>
                            </div>
                            <div class="line-text">
                                <p>@piedpiperwebsites</p>
                            </div>
                        </div>
                    </div>
                    nebo
                    <button href="javascript:void(0);" onclick="scrollToElementByClass('contact-form')" >Poslat formulář</button>
                </div>
            </div>
            <div class="custom-shape-divider-bottom-1649729821">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                     preserveAspectRatio="none">
                    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                          class="shape-fill"></path>
                </svg>
            </div>
        </section>
        <section class="gradient-background">
            <section class="our-projects">
                <img src="{{ asset('waves/circle.svg') }}" class="our-projects__circle"/>
                <img src="{{ asset('waves/circle.svg') }}" class="our-projects__circle"/>
                <img src="{{ asset('waves/circle.svg') }}" class="our-projects__circle"/>
                <img src="{{ asset('waves/circle.svg') }}" class="our-projects__circle"/>
                <img src="{{ asset('waves/circle.svg') }}" class="our-projects__circle"/>
                <div class="our-projects__header">
                    <h1>Naše projekty</h1>
                </div>
                <div class="our-projects__header__header-line"></div>
                <!-- Slider main container -->
                <div class="swiper projects-swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="swiper-slide__projects-slide">
                                <div class="swiper-slide__projects-slide__project">
                                    <div class="swiper-slide__projects-slide__project__link">
                                        <div>< &nbsp;Cyber Racoon&nbsp; /></div>
                                    </div>
                                    <img src="{{ asset('images/project_cyber_racoon.png') }}"/>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__projects-slide">
                                <div class="swiper-slide__projects-slide__project">
                                    <div class="swiper-slide__projects-slide__project__link">
                                        <div>< &nbsp;Catering&nbsp; /></div>
                                    </div>
                                    <img src="{{ asset('images/project_catering.png') }}"/>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__projects-slide">
                                <div class="swiper-slide__projects-slide__project">
                                    <div class="swiper-slide__projects-slide__project__link">
                                        <div>< &nbsp;Dropshipping 2k22&nbsp; /></div>
                                    </div>
                                    <img src="{{ asset('images/project_dropshipping.png') }}"/>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__projects-slide">
                                <div class="swiper-slide__projects-slide__project">
                                    <div class="swiper-slide__projects-slide__project__link">
                                        <div>< &nbsp;PPWebS&nbsp; /></div>
                                    </div>
                                    <img src="{{ asset('images/project_ppwebs.png') }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </section>
            <section class="contact-form">
                <span>
                <h2>Kontaktujte nás</h2>
                <div class="contact-form__heading-line"></div>
                </span>
                <div>
                <div class="contact-form__left">

                    <img src="{{ asset('images/paper-plane.png') }}"/>
                    <div class="contact-form__contact-info">
                        <div class="contact-form__contact-info__contact">
                            <i class="fa-solid fa-at fa-2x"></i>
                            <span>info@ppwebs.cz</span>
                        </div>
                        <div class="contact-form__contact-info__contact">
                            <i class="fa-solid fa-phone fa-2x"></i>
                            <span>+420 602 145 409</span>
                        </div>     <div class="contact-form__contact-info__contact">
                            <i class="fa-brands fa-instagram fa-2x"></i>
                            <span>@piedpiperwebsites</span>
                        </div>
                    </div>
                </div>
                <div class="contact-form__right">
                    <form onsubmit="formOnclick()" id="contact-form">
                        <input placeholder="Jméno" id="name" type="text" required/>
                        <input placeholder="Email" id="email" type="email" required/>
                        <input placeholder="Telefon" id="phone" type="tel"/>
                        <textarea placeholder="Zpráva" id="message"></textarea>
                        <button>Odeslat</button>
                    </form>
                </div>
                    <div class="contact-form__message-sent">
                        <img src="{{ asset('images/check-mark.png') }}"/>
                        <h3>Formulář Odeslán!</h3>
                    </div>
                </div>
            </section>
        </section>
        <section class="additional-info">

            <div>
                <h2>SLUŽBY NAVÍC</h2>
            <div class="additional-info__header-line"></div>
            </div>
            <div class="additional-info__element">

                <div>
                    <img src="/images/help-with-running-illustration.svg"/>
                </div>
                <div class="additional-info__element__text">
                    <h3>Pomoc se zprovozněním <b>webu</b></h3>
                    <p>Pokud nemáte webové technologie pod palcem, nebo se vám jen nechtějí řešit technikálie kolem webové stránky nezoufejte, V případě potřeby vám rádi pomůžeme s registrací domény, přesměrováním DNS i se samotným hostingem :-) </p>
                </div>
            </div>
            <div class="additional-info__element">
                <div class="additional-info__element__text">
                    <h3>Správa webu po jeho  <b>dokončení </b></h3>
                    <p>Dokončením webu to teprve začíná, rádi se vám postaráme o softwarové aktualizace, správu obsahu i monitoring samotného webu</p>
                </div>
                <div>
                    <img src="/images/help-with-content-illustration.svg"/>
                </div>
            </div>
        </section>
        <section class="web-apps">
            <div>
            <h2>Webové aplikace</h2>
            <div class="web-apps__header-line"></div>
            </div>
            <p>Webové aplikace narozdíl od běžných statických webu (jako je například prezentační web produktu) nejsou jen samotná webová stránka, skrývá se pod nimi logika, která umožnuje uživateli interagovat s obsahem webu a v závislosti na tom web měnit. webové aplikace mohou sloužit k různorodým účelům, od interních systému (evidence skladu, zaměstnanecké systémy ..) po aplikace určené pro veřejnost (e-shopy, blogy se správou obsahu, ..). </p>
            <div class="web-apps__content">
            <img src="/images/web-apps.svg"/>
              <div>
                  <h3>Jak tedy tvorba <b>webové aplikace</b> probíhá ?</h3>
                <p>
                    Tvorba webových aplikací je oproti běžnému statickému webu daleko komplexnější záležitostí, je proto předem nutné znát odpovědi na následující otázky:
                </p>
                   <ul>
                       <li>K čemu bude aplikace sloužit?</li>
                       <li>Kdo je cílovým uživatelem aplikace?</li>
                       <li>Je plánována i mobilní verze aplikace?</li>
                       <li>Bude aplikace komunikovat jinou aplikací?</li>
                  </ul>
                <p>
                    Pokud máte ve všech otázkách jasno, můžeme se  společně pustit do sepsání funkčních požadávků (co aplikace musí umět) a začít se samotným vývojem </p>
              </div>
            </div>

        </section>
        <footer>
            <div class="main-section">
            <div >
                <a onclick="scrollToElementByClass('services')">SLUŽBY</a>
                <a onclick="scrollToElementByClass('technologies')">O NÁS</a>
                <a onclick="scrollToElementByClass('our-projects')">NAŠE PROJEKTY</a>
                <a onclick="scrollToElementByClass('contact-form')">KONTAKT</a>
                <a onclick="scrollToElementByClass('additional-info')">SLUŽBY NAVÍC</a>
            </div>
            <div >
                <div class="contact-form__contact-info__contact">
                    <i class="fa-solid fa-at fa-2x"></i>
                    <span>@piedpiperwebsites</span>
                </div>
                <div class="contact-form__contact-info__contact">
                    <i class="fa-solid fa-phone fa-2x"></i>
                    <span>+420 602 145 409</span>
                </div>
                    <div class="contact-form__contact-info__contact">
                    <i class="fa-brands fa-instagram fa-2x"></i>
                    <span>@piedpiperwebsites</span>
                </div>
            </div>
            <div class="logo">
                <img  class="logo" src="{{ asset('images/logo.png') }}"/>
            </div>
            </div>
        <div class="contact-us">
            <h3>ZÍSKEJTE NEZÁVAZNOU CENOVOU NABÍDKU NEBO KONZULTACI</h3>
            <span>+420 602 145 409</span>
        </div>
        </footer>
    </main>
{% endblock %}